.button {
    -fx-background-color:transparent ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
}
.my-scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
	-fx-background-color: transparent;
}
.scroll-pane > .viewport { 
   -fx-background-color: transparent;
}
.backroundpane{
    -fx-background-image: url("../images/mainbackground.jpg");  
    -fx-background-position: center center;
	-fx-background-size: cover;
}

.dropshadow {
	-fx-effect: dropshadow( one-pass-box , black , 4 , 0.0 , 1 , 0 )
}

.woodpane{
    -fx-background-image: url("../images/wood.png");  
    -fx-background-position: center center;
	-fx-background-size: cover;
}
 .scroll-pane {
	-fx-background-color: transparent;
}

.scroll-bar .increment-button {
	visibility: hidden;
}

.scroll-bar .decrement-button {
	visibility: hidden;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
	visibility: hidden;
}

.scroll-bar:vertical .track {
	visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
	-fx-background-color: transparent;
}
.testbackround {
	-fx-background-image: url("../images/boards/alexandria.jpg");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}